body {
}

.navigationButton {
    background-color: #1833ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


.leaguetable {
    border: 1px solid black;

}

.leaguetable td, tr {
    border: 1px solid black;
    padding: 10px;
}

.newUserDiv {
    margin: 5px;
}

.teamName {
    cursor:grab;
}

.dragging {
    opacity: 0.7;
}

.droppable {
    background-color: purple;
}

#tablesDiv {
    border: 1px solid purple;
    display: flex;
}


#fileInput {
    display: none;
}
